nextcord
nextcord.ext
commands
yt_dlp
asyncio
collections
deque
re
googleapiclient.discovery
build
oauth2client==4.1.3
validators
json
colorama
ctypes
google-api-python-client
PyNaCl
datetime
logging
asyncio
Semaphore